# LINE Developers Console > Messaging API channel > Basic settings
LINE_CHANNEL_SECRET=

# LINE Developers Console > Messaging API channel > Messaging API tab
# Issue a "Channel access token (long-lived)"
LINE_CHANNEL_ACCESS_TOKEN=
